body {
    font-family: Arial, sans-serif;
    background-color: greenyellow;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #2c3e50;
}

input {
    width: 200px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}
h3 {
    margin-top: 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;     
}